body {
    padding-top: 10px;
    padding-bottom: 30px;
}

/* Ng-Grid */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 500px;
}

/* Angular ui bootstrap fix */
.nav, .pagination, .carousel a { cursor: pointer; }

.section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.controls {
    padding-left: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.form-inline > button {
    vertical-align: bottom;
}

.remove {
    font-size: large;
}

.remove:hover {
    color: rgb(191, 37, 37);
}

.icon {
    vertical-align: top;
    width: 24px;
    height: 24px;
}