body {
    padding-top: 20px;
    padding-bottom: 30px;
}

/*style.css*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 500px;
}

/* Angular ui bootstrap fix */
.nav, .pagination, .carousel a { cursor: pointer; }

.form-inline .control-label {
    color: red;
}

/*.form-inline .form-group {
    display: inline;
}*/