@using System.Web.Optimization
@model dynamic

<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="Diablo3Farmer" lang="en">
    <head>
        <title>Diablo 3 Farmer</title>
        @Styles.Render("~/css")
    </head>
    <body>
        <div ng-controller="FarmRunController">
            <div ng-show="!runStarted()">
                Run: <input type="text" ng-model="description" />
                <select ng-model="selectedMonsterPowerLevel" ng-options="mp for mp in monsterPowerLevels"></select>
                Act: <select ng-model="selectedAct" ng-options="act for act in acts"></select>
                Exp: <input type="text" ng-model="startExp" />
                <button ng-click="startRun()">Start run!</button>
            </div>
            <div ng-show="runStarted()">
                End exp: <input type="text" ng-model="endExp" />
                <button ng-click="endRun()">End run.</button>
            </div>
            <hr/>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
        @Scripts.Render("~/js/lib")
        @Scripts.Render("~/js")
    </body>
</html>