@using System.Web.Optimization
@model dynamic

<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="Diablo3Farmer" lang="en">
    <head>
        <title>Diablo 3 Farmer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/css")
    </head>
    <body>
        <div class="container" ng-controller="FarmRunController">
            <div class="jumbotron">
                <h1>Diablo 3 Farmer</h1>
                <p>Awesome AngularJS app</p>
            </div>
            <div class="row section">
                <div class="col-md-12">
                    <div class="controls">
                        <form ng-show="!runStarted()" class="form-inline">
                            <div class="form-group input-group-sm">
                                <label for="name" class="control-label">Name:</label>
                                <input id="name" type="text" ng-model="name" class="form-control" typeahead="name for name in getRunNames() | filter:$viewValue" d3-auto-select />
                            </div>
                            <div class="form-group input-group-sm">
                                <label for="mpSelection" class="control-label">MP:</label>
                                <select id="mpSelection" class="form-control" ng-model="selectedMonsterPowerLevel" ng-options="mp for mp in monsterPowerLevels"></select>
                            </div>
                            <div class="form-group input-group-sm">
                                <label for="actSelection" class="control-label">Act:</label>
                                <select id="actSelection" class="form-control" ng-model="selectedAct" ng-options="act as act.name for act in acts"></select>
                            </div>
                            <div class="form-group input-group-sm">
                                <label for="startingExp" class="control-label">Start Exp:</label>
                                <input id="startingExp" type="text" ng-model="startExp" class="form-control" d3-auto-select />
                            </div>
                            <button ng-click="startRun()" class="btn btn-default btn-sm">Start</button>
                        </form>
                        <form ng-show="runStarted()" class="form-inline">
                            <div class="form-group input-group-sm">
                                <label for="endExp">End exp:</label>
                                <input id="endExp" type="text" ng-model="endExp" class="form-control" d3-auto-select />
                            </div>
                            <button ng-click="endRun()" class="btn btn-default btn-sm">End</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row section">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>Run name</th>
                            <th>MP</th>
                            <th>Act</th>
                            <th>Start Exp</th>
                            <th>End Exp</th>
                            <th>Exp / hour</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                        <tbody ng-repeat="(groupName, group) in runs | groupByName">
                            <tr ng-repeat="run in group track by $index">
                                <td rowspan="{{group.length}}" ng-if="$first">{{groupName}}</td>
                                <td>{{run.monsterPowerLevel}}</td>
                                <td>{{run.act.value}}</td>
                                <td>{{run.startExp | number:0 }}</td>
                                <td>{{run.endExp | number:0 }}</td>
                                <td>{{run.expPerHour | number:0 }}</td>
                                <td>{{run.time | timeSpan }}</td>
                                <td>
                                    <span class="remove glyphicon glyphicon-remove-circle" ng-click="removeRun(run)"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @Scripts.Render("~/js/lib")
        @Scripts.Render("~/js")
    </body>
</html>